# Ignora la cartella node_modules per Node.js
app/client/node_modules/

# Ignora la cartella node_modules per Node.js
app/server/node_modules/

# Ignora la cartella build
app/client/build
node_modules
