.icon{
    display: grid;
    height: 100px;
    width: 100px;
    border-radius: 30%;
    background: transparent;
    font-size: xx-large;
    align-content: center;
    justify-content: center;
    color: white;
}

.text{
    display: none;
    top: -20px;
}

.creaPomodoro{
    display: none;
}

.salvaPomodoro{
    display: none;
}

.modificaPomodoro{
    display: none;
}

.cancellaPomodoro{
    display: none;
}

.scegliPomodoro{
    display: none;
}

.aggiungiPomodoro{
    display: none;
}

.creaH4:hover + .creaPomodoro{
    display: grid;
}

.salvaH4:hover + .salvaPomodoro{
    display: grid;
}

.modificaH4:hover + .modificaPomodoro{
    display: grid;
}

.cancellaH4:hover + .cancellaPomodoro{
    display: grid;
}

.scegliH4:hover + .scegliPomodoro{
    display: grid;
}

.aggiungiH4:hover + .aggiungiPomodoro{
    display: grid;
}
