.mainDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow-y: scroll; 
}

.timerDisplay{
    font-size: 50px;
    color: red;
}

