.div{
    margin-bottom: 5%;
    background: var(--dusk-bg); /* Use the defined background variable */
    color: var(--dusk-text);
    border: 1px solid var(--dusk-border);
    border-radius: 0.75rem;
    box-shadow: var(--dusk-shadow);
    padding: 1%;
}
.button{
    cursor: pointer;
    border-radius: 0.75rem;
    background-color: white;
    font-weight: bold;
}
.delete{
    cursor: pointer;
}

.row {
  display: flex;
  align-items: center; /* centra testo, bottone e icona verticalmente */
  gap: 8px; /* spazio fra elementi */
}

.title{
    color: #ff8c6b;
    padding-bottom : 2%;
    padding-top: 1%;
    margin: 0;
}

.categories{
    font-weight: bold;
    color: #d3776c; /*leggermente più scuro del titolo*/
}

.date{
    font-style: italic;
    font-size: 0.8em;
}
