.bin{
    display: inline-block;
    max-height: 2em;
}
.div{
    margin-bottom: 5%;
    padding: 1%;
    background-color: aquamarine;
    border-radius: 20px; /* Stonda tutti e 4 i bordi */
}
.title{

}
.categories{
    font-weight: bold;
}
.text{

}
.date{
    font-style: italic;
}
.button{
    
}