@keyframes spin{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.CatAnimation_container{
    position: relative;
    top: 20%;
}

.CatAnimation{
    
    width: fit-content;
    height: fit-content;
    min-width: 300px;
    display: flex;
    animation: spin 8s linear infinite;
}

.ear{
    position: relative;
    top: -40px;
}

.ear_left{
    left: 85px;
    rotate: -8deg;
}

.ear_right{
    right: 85px;
    rotate: 8deg;
}

.ear_inner{
    border-bottom: 15px solid rgba(255, 192, 203, .842);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 30px;
    height: 0;
    left: 22px;
    position: relative;
    width: 0;
    
}

.ear_outher{
    height: 0;
    width: 0;
    border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 50px solid rgba(0, 0, 0);
}

.face{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    border-radius: 35%;
    height: 115px;
    width: 175px;
    background-color: black;
}

.nose{
    left: 0px;
    position: relative;
    top: 60px;
    height: 0;
    width: 0;
    border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 10px solid rgb(202, 168, 168);
}

.eye_left{
    position: relative;
    z-index: 2;
    top: 20px;
    left: 0px;
}

.eye_right{
    position: relative;
    z-index: 2;
    top: 20px;
    right: 0px;
}

.eye_outher{
    height:55px;
    width: 30px;
    border-radius: 40%;
    background-color: white;
}

.eye_inner{
    position: relative;
    top: 16px;
    left: 8px;
    height:25px;
    width: 15px;
    border-radius: 40%;
    background-color: rgb(0, 0, 0);
}