.contenent {
  margin: 2%;
  margin-bottom: 2em;
}
.notesList{
  margin-bottom: 5%
}
.header{
  font-size: 2em;
  font-weight: bold;
  color: #ff8c6b;
}
.selector{
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 0px;
  margin-right: 0px;
}